
<div class="banner">
  <div class="container">
    <%= image_tag "logo-removebg.png", class: "avatar-square", alt: "avatar-square" %>
    <h1>Bien manger & Se sentir mieux</h1>
    <p>Cuisine tes repas pour la semaine.</p>
    <%= link_to "Commencer", root_path, class: "btn btn-home" %>
    <%= link_to "Voir les menus", root_path, class: "btn btn-transparent" %>
  </div>
</div>

<div class="middle-front" style="background-color: #f7f7f7">
  <h2>Pourquoi utiliser MyBatchCooker?</h2>
  <div class="items">
    <div class="item">
      <div class="item-img"><img src="https://cdn11.bigcommerce.com/s-c6whspqb1d/product_images/uploaded_images/snap-kitchen-illustrated-icons-3.22.21-artboard-5.png" alt="icon-3"></div>
      <h3 class="dl-h5">La recette que vous aimez</h3>
      <div class="dl-body">Choisissez vos plats au milieu de recettes variées et healthy</div>
    </div>
    <div class="item">
      <div class="item-img"><img src="https://cdn11.bigcommerce.com/s-c6whspqb1d/product_images/uploaded_images/snap-kitchen-illustrated-icons-3.22.21-03.png" alt="icon-3"></div>
      <h3 class="dl-h5">Vos ingrédients</h3>
      <div class="dl-body">Votre liste de course se génère automatiquement sur votre smartphone</div>
    </div>
    <div class="item">
      <div class="item-img"><img src="https://cdn11.bigcommerce.com/s-c6whspqb1d/product_images/uploaded_images/snap-kitchen-illustrated-icons-3.22.21-artboard-19.png" alt="icon-3"></div>
      <h3 class="dl-h5">Cuisinez en 2h</h3>
      <div class="dl-body">Réalisez toutes vos recettes en même temps en suivant nos étapes détaillées</div>
    </div>
  </div>
</div>
