.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  justify-content: flex-end;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;;
}
.avatar-square {
  width: 180px;
  height: 180px;
  margin-left: 0px;
  border-radius: 0px;
  margin-top: 25px;
}
