@media only screen and (min-width : 2500px) {

    .container { max-width: 2000px; }

}

.banner {
  background: linear-gradient(to right, rgba(172, 172, 172, 0.5), rgba(172, 172, 172, 0.2)), url('photo-meta-fb-quali.jpg');
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  margin: auto;
  display: flex;
  height: 630px;
}

.banner h1 {
  font-size: 49px;
  font-family: "Galano Grotesque Bold",sans-serif;
  line-height: 1.1;
  letter-spacing: -.026em;
  text-align: left;
  font-weight: bolder;
  text-transform: none;
  padding: 0;
  font-style: normal;
  outline: none;
  display: block;
  margin-block-start: 0.60em;
  margin-block-end: 0.55em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.banner p {
    color: white;
    font-family: "Galano Grotesque Bold",sans-serif;
    opacity: 0.9;
    font-size: 30px;
    margin-bottom: 3rem;
}

.text-center {
    text-align: center;
}
