.batch-new-container {
  background-image: url(https://res.cloudinary.com/dbogiehad/image/upload/v1638186674/recipes/kitchen-utensils-on-counter_r62pk8.jpg);
  background-size: cover;
  background-position: center;
  margin: 0px;
  height: 88vh;
}

.batch-new-container h4 {
  color: white;
}

.batch-new-container h6 {
  color: white;
}

#new_batch_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .form-center {
      width: 21%;
      margin: 0;
      margin-top: 82px;
      border-radius: 150px;
    }
}
