.batch-new-container {
  background-image: url(https://res.cloudinary.com/dbogiehad/image/upload/v1638186674/recipes/kitchen-utensils-on-counter_r62pk8.jpg);
  background-size: cover;
  background-position: center;
  margin: 0px;
  height: 88vh;
}

.batch-new-container h4 {
  color: white;
  font-size: 28px;
}

.batch-new-container h6 {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 24px;
}

#new_batch_menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .form-center {
      width: 220px;
      height: 220px;
      margin: auto 0;
      // margin-top: 95px;
      border-radius: 50%;
      padding: 8px;
    }
}

input[type=range]::-webkit-slider-thumb {
    background: black;
}
input[type=range]::-moz-range-thumb {
    background: black;
}
input[type=range]::-ms-thumb {
    background: black;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}
.dropdown-item.active, .dropdown-item:active {
   outline: none !important;
   box-shadow: red;
   background-color: white;
}

input[type=text]:focus {
    box-shadow: none;
    border: none;
}
input[type=text]::-moz-range-thumb {
    background: black;
}
input[type=text]::-ms-thumb {
    background: black;
}
