.btn-login {
  padding: 10px 20px;
  color:white;
  text-decoration: none;
  font-weight: lighter;
  background-color: black;
  margin-bottom: 30px;
}

.btn-login:hover {
  color:rgb(107, 104, 104);
}
