.btn-home {
  color: white;
  padding: 14px 36px;
  font-size: 18px;
  // margin:10px;
  // border-radius: 4px;
  background:#156064;
  transition: background 0.3s ease;
  border-radius: 50px;
  // font-weight: lighter;
  font-family: "Nunito", "Helvetica", "sans-serif";
  text-decoration: none;
  position: relative;
  z-index: 0;
  overflow: hidden;
  // border-width: 2px;
  // margin-left: 10px;
  &:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: #85BDA6;
    transition: all 0.3s ease;
    border: #85BDA6;
  }
  &:hover {
    border: 1px solid #85BDA6;
    &:after {
      left: 0;
      width: 100%;
    }
  }
}

// .btn-wrapper {
//   display: flex;
//   justify-content: center;
// }

.btn-transparent {
  color: black;
  font-size: 17px;
  border: 1px solid black;
  font-family: "Galano Grotesque Regular",sans-serif;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-transparent:hover {
  opacity: 1;
  background: white;
  color: black;
}

#go-button{
  background-color: black;
  color: white;
  width: 142px;
  border-radius: 50px;
  margin-top: 26px;
}

#go-button:hover {
  background-color: white;
  color:black;
}

.btn-back {
  color: white;
  padding: 8px 24px;
  font-size: 15px;
  border-radius: 4px;
  background:  black;
  transition: background 0.3s ease;
  border-radius: 50px;
  font-weight: lighter;
  font-family: "Galano Grotesque Regular",sans-serif;
  text-decoration: none;
}

.btn-back:hover {
  background: #156064;
  color:white;
}
.btn-back-to-list {
  color: white;
  padding: 8px 24px;
  font-size: 15px;
  border-radius: 4px;
  background:#156064;
  transition: background 0.3s ease;
  border-radius: 50px;
  font-weight: lighter;
  font-family: "Galano Grotesque Regular",sans-serif;
  text-decoration: none;
}

.btn-back-to-list:hover {
  background:#85BDA6;
  color:white;
}

.modal-footer {
  justify-content: center;
}

.btn-cook {
  margin-left: 10px;
}
