.btn-home {
  color: white;
  padding: 8px 24px;
  font-size: 17px;
  border-radius: 4px;
  background:black;
  transition: background 0.3s ease;
  border-radius: 50px;
  font-weight: lighter;
  font-family: "Galano Grotesque Regular",sans-serif;
  text-decoration: none;
  // margin-left: 10px;
}

.btn-home:hover {
  background:transparent;
  border: 1px solid #4A4A4A;
}


.btn-transparent {
  color: black;
  font-size: 17px;
  border: 1px solid black;
  font-family: "Galano Grotesque Regular",sans-serif;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-transparent:hover {
  opacity: 1;
  background: black;
  color: white;
}

#go-button{
  background-color: black;
  color: white;
  width: 142px;
  border-radius: 50px;
}

#go-button:hover {
  background-color: white;
  color:black;
}


// .btn .btn-flat {
//   background-color: white;
//   margin-left: auto;
//   margin-right: auto;
// }
