.carousel-control-next {
  color: #156064;
  font-size: 500%;
  opacity: 1;
  width: 33%;
  top: auto;
  bottom: auto;
  margin-top: 125px;
}

.carousel-control-next-icon {
  opacity: 0;
}

.carousel-control-next:hover {
  color: white;
}

.carousel-control-prev {
  color: #156064;
;
  font-size: 500%;
  opacity: 1;
  width: 29%;
  top: auto;
  bottom: auto;
  margin-top: 125px;
}

.carousel-control-prev-icon {
  opacity: 0;
}

.carousel-control-prev:hover {
  color:white;
}
