.card-category {
  background-color: #e1e0e04d;
  height: 30vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  margin: 30px 30px;
  position: relative;
}

.to-show {
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.to-show:hover {
  color: lightgray;
}

.nb-recipes {
  opacity: 0.9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

.creation-date {
  opacity: 0.8;
  position: absolute;
  font-size: smaller;
  bottom: 10px;
  right: 10px;
  margin: 0;
}

.cross {
  color: white;
  opacity: 0.5;
  position: absolute;
  font-size: smaller;
  top: 10px;
  right: 10px;
  font-size: larger;
}

.cross:hover {
  opacity: 1;
}
