.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.card-login {
  height: 650px;
    width: 500px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 0 5px #e6e6e6;
    border: 1px solid #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    opacity: 95%;
  img {
    width: 230px;
    margin: -35px;
  }
}

.test {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.link-signup a {
  text-decoration: none;
  color: black;

}
