#search_query {
  border-radius: 30px;
  height: 46px;
  width: 57vw;
  background-color: white;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 1vw;
  align-items: center;
  justify-content: space-between;
}

.card-link {
  height: 32vh;
  width: 17vw;
  position: relative;
  margin: 1rem;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
  }

  &:hover {
    > img {
      width: 105%;
      height: 105%;
    }
  }
}

.card-link-infos {
  display: flex;
  align-items: flex-end;
  // align-items: center;
  height: 32vh;
  position: relative;
  width: 17vw;
  transition: 0.5s all ease;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  border-radius: 10px;
  overflow: hidden;

  .add-btn {
    position: absolute;
    top: 10px;
    right:20px;
    cursor: pointer;
  }

  img {
    opacity: 1;
  }


  .description-name {
      opacity: 0.9;
      transition: 0.4s all ease;
      margin-left: 4px;
      margin-right: 4px;
      width: 100%;
      height: 30%;
      // height: 100%;
      margin: 0;
      background-color: rgba(19, 19, 19, 0.6);
      cursor: pointer;
      // display: flex;
      // align-items: center;
      // justify-content: center;
  }

  .promo-overlay {
    width: 80%;
    margin: auto;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
      color: white;
      text-decoration: none;
  }

  p {
    font-size: 1rem;
    letter-spacing: 0px;
    line-height: 1.5rem;
    margin-bottom: 0;
    font-weight: 500;
    font-family: 'Didact Gothic', sans-serif;
  }

  &:hover {
    // align-items: flex-end;
    .description-name {
      // display: none;
      // background-color: black;
      height: 30%;
    }
  }
}

.card {
  position: sticky;
  top: 10px;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230, 230, 230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  min-width: 150px;
}

#recipes-index {
  margin: 5vh 5vw;
  display:flex;
  justify-content: center;
  // align-items: center;
}

.card > img {
  height: 100px;
}


.card-link-infos {
  display: flex;
  // align-items: center;
  justify-content: center;
  line-height: 40px;
}

.card-link-infos p {
 font-family: 'Didact Gothic', sans-serif;
//  letter-spacing: 2px;
 text-decoration: none;
 font-size: initial;
}

.lists-container {
  position: sticky;
  border-radius: 30px;
  top: 100px;
  // z-index: 80;
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
  margin-right: 1.3rem;
  padding: 0;
  width:20vw;
  .title-recipe {
    padding-top: 20px;
    margin-bottom: 0;
  }
  hr {
    width: 16vw;
    margin: 15px auto;
  }
  #recipe-number {
    padding: 0 27px;
  }
  .card-recipes-list {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 11px 5px;
    max-height: 33vh;
    overflow-y: auto;
    padding: 0px 27px;
    .chosen-recipe {
      display: flex;
      justify-content: space-between;
      p {
        text-align: left;
        width: 12vw;
      }
    }
  }
  .btn {
    margin: 10px 30px;
  }
}


.fa-times {
  color:#156064;
}

.btn-filter{
  text-decoration: none;
  color: white;
}

.btn-filter:hover {
  color: grey;
}
