.meal-time-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.meal-time-wrapper h6 {
  text-align: center;
  // border: solid;
  // border-color: grey;
}

.form-check{
  padding: 12px;
}

.calendar-input + label {
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    text-align: center;
    padding: 25px;
    /* border: 50px solid #EAEAEA; */
    border-radius: 4px;
    color: black;
    /* border-color: #dbd5d5; */
    background-color: white;
}

.calendar-input:checked + label {
  color: white !important;
  background-color: #85BDA6 ;
}

// .calendar-input:checked:hover {
//   background-color: rgb(173, 173, 173);
// }

.meal-time-wrapper {
  margin-bottom: 30px;

  h6 {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
  }

  > div:not(:last-child) {
    border-right: 1px solid grey;
  }

  fieldset:not(:last-child) {
    border-bottom: 1px solid grey;
  }
}

.calendar-square {
  // padding: 25px;
  border-radius: 4px;
  width: 10vw;
  height: 17vh;
  margin: 10px;
  box-shadow: 0 0 15px rgb(221, 220, 220);
}

.empty {
  background-color:#e7a8295d;
}
