h3 {
  text-align: center;
  margin-top: 20px;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
}




.prep_steps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.prep_steps h3 {
  text-shadow: 0 0 15px black;
}

.step-number {
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-number h5 {
  background-color: #156064;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 50%;
  margin: auto;
  color:white;
  // padding: 10px 27px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.card-step {
  overflow: hidden;
  display: flex;
  padding: 12px 10px;
  margin-top: 12px;
  margin-bottom: 30px;
  width: $carousel-width;
  background: rgba(255, 255, 255, 0.699);
  border-radius : 30px;

  ul {
    width: 80%;
    margin-bottom: 1px;
  }
}

.commands {
  width: $carousel-width;
}

.card-step li {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 4px;
  // padding: 10px;
}

.prep-description {
  text-align: justify;
  text-justify: inter-word;
  margin-right: 50px;
  margin-bottom: 0px;
  color: black;
}

.separator {
  border-bottom: 3px solid lightgray;
  width: 20vw;
  // margin-left: 150px;
}

.step {
  // padding-right: 150px;
  padding: 30px;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.light-green {
  color: black;
}
