.search-form-control {
  position: relative;
  border-radius: 75px;
}

.search-form-control .btn {
  position: absolute;
  top: 3px;
  bottom: 8px;
  right: 3px;
  padding: 19px 25px;
  margin: 0px;
  // left: 702px;
  color: white;
  height: 35px;
  display: flex;
  align-items: center;
  background-color: black;
  border-radius: 30px;
}

.search-form-control .btn:hover {
  background-color: #156064;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
  border: 1px solid #E7E7E7;
  // position: relative;
}

.search-form-control .form-control:focus {
  border: 1px solid #156064;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

#query-result {
    padding: 8px 15px;
    background-color: #15606426;
    color: #156064;
    font-weight: bolder;
    margin-right: auto;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border: 1px solid #156064;
}

.btn-filter{
  text-decoration: none;
  color: #156064;
  margin-left: 15px;
}

.btn-filter:hover {
  color: grey;
}
