
.modal-content {
  border-radius: 30px;
  padding: 20px;
  width: 500px;
  margin:auto;
}

.modal-content p {
  margin-bottom: 5px;
  text-align: center;
}

.modal-content h3 {
  margin: 10px 0px 15px 0px;
}

.modal-body {
  margin: 17px;
}

.modal-header .btn-close {
  margin: -0.5rem -0.5rem -0.5rem -130px;
}

.modal-header img{
  height: 40px;
  cursor: pointer;
}

.shopping-list-modal {
  .modal-dialog {
    max-width: 80vw;
  }
  .shopping-list {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: auto;
    // flex-wrap: wrap;
  }
}

.scroll-down {
    max-height: 1000px;
    overflow-y: auto;
}
