.show-container  img {
    margin-top: 60px;
    width: 30vw;
    height: 50vh;
    overflow: hidden;
}

.show-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 60px;
  // position: relative;
}
