
.show-card {
    overflow: hidden;
    width: 100%;
    height: 100%;
    // border-radius: 5px;
    background-color:white;
    // box-shadow: 0 0 5px rgb(230, 230, 230);
    // border: 1px solid rgb(230, 230, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    opacity: 95%;

    .accordion-button:not(.collapsed) {
      color: black;
    }

    .accordion-button:after {
      filter: grayscale(1) contrast(1) brightness(0.5);
    }

  .recipe-img > img {
    width: 20vw;
    height: 41vh!important;
    object-fit: cover;
    border-radius: 30px;
  }
  .show-description {
    height: 100%;
    margin: 30px 30px;
    padding: 0;
    color: black;
    justify-content: left;
    // font-size: ;
    text-align: justify;
    text-justify: inter-word;
    text-shadow: none;
  }
  .show-description h6{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    text-align: left;
  }
  .recipe-time > h6 {
    font-family: 'Nunito', sans-serif;
    text-align: left;
  }
  .accordion-button {
    background-color: #f4f4f400;
    padding: 0;
        box-shadow: none !important;

    &:hover {
      color: black;
      border: none;
          box-shadow: none !important;

    }
    &:after {
      color: black;
      border: none;
    }
    .accordion-button:focus {
    box-shadow: none !important;
    }
    .accordion-button:not(.collapsed)::after {
      filter: grayscale(100%);
    }
  }
  .accordion-body {
    background-color: white;
    border: none;
    color: black;
    text-shadow: none;
  }
  .accordion-item {
    border: none !important;
  }
}
li::marker {
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
  font-weight: normal;
}
.scroll {
  max-height: 150px;
  overflow-y: auto;
  padding-right: 1rem;
}

.show-modal {
  // margin: auto;
  // position: relative;
  .modal-content {
    border-radius: 30px;
    max-width: 70vw;
    margin: auto;
  }
  .modal-dialog {
    max-width: 100vw;
  }
  .btn-close .show {
    // position:absolute;
    top: 15px;
    right: 15px;
  }
  // .shopping-list {
  //   display: flex;
  //   flex-direction: column;
  //   height: 60vh;
  //   flex-wrap: wrap;
  // }
}

.accordion {
  p {
    font-family: "Nunito";
    color: black;
    text-shadow: none;
  }

  li::marker {
    color: black;
    text-shadow: none;
  }

}

.accordion-item {
    background: white;
    border: none;
}

button.btn-close.show {
    right: 10px;
    top: 10px;
    position: absolute;
    z-index: 1;
}
