

.modal-content p {
  margin-bottom: 5px;
  text-align: center;
}


.modal-body {
  margin: 17px;
}



.shopping-list-modal {
  .modal-content {
    border-radius: 30px;
    padding: 20px;
    width: 467px;
    margin:auto;
  }
  .modal-content h3 {
    margin: 10px 0px 15px 0px;
    font-size: 34px;
  }
  .modal-header img{
    height: 40px;
    cursor: pointer;
  }
  .modal-header img:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.75;
  }
  .modal-header .btn-close {
    margin: -0.5rem -0.5rem -0.5rem -130px;
  }
  .modal-dialog {
    max-width: 80vw;
  }
  .shopping-list {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: auto;
    // flex-wrap: wrap;
  }
}

.modal-body img{
  height: 110px;
}
.scroll-down {
    max-height: 1000px;
    overflow-y: auto;
}
