.show-container  img {
    width:50vw;
    height: 70vh;
    overflow: hidden;
}

.show-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  position: relative;
}
